body {
  background-color:#151515;
}
#app{
  color: white;
  font-family: proxima-nova, sans-serif;
  /* this font is close but not quite, a little too thick and less round */
  font-style: normal;
  font-weight: bold;
}
#album-up-arrow{
  font-size: 18px;
  margin-left: 5px;
  position: absolute;
  bottom: -2;
}
#album-down-arrow{
  font-size: 18px;
  margin-left: 5px;
  position: absolute;
  bottom: -2;
}