body {
  background-color:#151515;
}
#app{
  color: white;
  font-family: proxima-nova, sans-serif;
  /* this font is close but not quite, a little too thick and less round */
  font-style: normal;
  font-weight: bold;
}
.album:hover #album-cover{
  opacity: .5;
}
#album-cover-wrapper{
  position: relative;
  width:180px;
  height:180px;
}
#play-button:hover{
  width:73px;
  height:73px;
}
.album:hover #play-button{
  display: block;
}
#album-title:hover {
  text-decoration: underline;
  /* right now anywhere on the line of the text makes it underline, but we want just the actual text not the whole div*/
}
#album-up-arrow{
  font-size: 18px;
  margin-left: 5px;
  position: absolute;
  bottom: -2;
}
#album-down-arrow{
  font-size: 18px;
  margin-left: 5px;
  position: absolute;
  bottom: -2;
}